<% layout('layout/page') %>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_login">
    <div class="main_div">
        <div id="pdf2htmldiv"
             class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 div bounceInLeft animated">
            <div class="templates main-template" id="basic-table">
                <div class="">
                    <div class="col-xs-6">
                        <img src="/images/papskok.png" class="profile_image"/>
                        <span class="firstName"></span>
                        <span class="lastName"></span>
                    </div>
                    <div class="col-xs-6"><i class="fa fa-times fa-3x close_button pull-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="tooTr">
                    <div class="col-xs-4 cv_parts">
                        <img src="/images/personal.png"><br/>
                        <span class="spanText">Personal info</span>
                    </div>
                    <div class="col-xs-4 cv_parts_2">
                        <p>First name: <span class="firstName"></span></p>
                        <p>Last name: <span class="lastName"></span></p>
                        <p>Date of birth: <span class="dob"></span></p>
                        <p>Nationality: <span class="nationality"></span></p>
                    </div>
                    <div class="col-xs-4 cv_parts_3">
                        <p>Email address: <span class="email"></span></p>
                        <p>Phone Number: <span class="phone"></span></p>
                        <p>Address: <span class="address"></span></p>
                    </div>
                </div>
                <div class="oneTr">
                    <div class="col-xs-4 cv_parts">
                        <img src="/images/uchoba.png"><br/>
                        <span class="spanText">Education</span>
                    </div>
                    <div class="col-xs-8" style="color:red">esdrghjdfghsdfgh</div>
                </div>
                <div class="tooTr">
                    <div class="col-xs-4 cv_parts">
                        <img src="/images/work.png"><br/>
                        <span class="spanText">Work experience</span>
                    </div>
                    <div class="col-xs-8">esdrghjdfghsdfgh</div>
                </div>
                <div class="oneTr">
                    <div class="col-xs-4 cv_parts">
                        <img src="/images/skills.png"><br/>
                        <span class="spanText">Skills</span>
                    </div>
                    <div class="col-xs-8" style="color:red">esdrghjdfghsdfgh</div>
                </div>
                <div class="tooTr">
                    <div class="col-xs-4 cv_parts">
                        <img src="/images/hobbies.png"><br/>
                        <span class="spanText">Hobbies</span>
                    </div>
                    <div class="col-xs-8" style="color:red">esdrghjdfghsdfgh</div>
                </div>
            </div>
        </div>
        <button type="button" onclick="javascript:pdfToHTML()"
                class="btn btn-info btn-lg"><%= global.lang.download %></button>
        <br/>
        <button type="button" class="btn btn-info btn-lg" id="edit"><%= global.lang.edit %></button>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h3><span class="fa fa-user"></span> Welcome <span>
                <% if(user.local.username){ %>
                <%= user.local.username %>
                <% }else{ %>
                <%= user.facebook.name %>
                <img width="40" height="40" src="<%= user.facebook.photo %>"
                     alt="image"/>
                <% } %>

            </span></h3>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="/logout" class="pull-right" id="logout_button">Logout</a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <main>
            <input id="tab0" type="radio" name="tabs" checked>
            <label for="tab0">Template</label>

            <input id="tab1" type="radio" name="tabs">
            <label for="tab1">Personal Information</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">Education</label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">Work</label>

            <input id="tab4" type="radio" name="tabs">
            <label for="tab4">Skills</label>

            <section id="content0">
                <div id="template_1" class="templates"></div>
                <div id="template_2" class="templates"></div>
                <div id="template_3" class="templates"></div>
                <div id="template_4" class="templates"></div>
                <div id="template_5" class="templates"></div>
                <div id="template_6" class="templates"></div>
                <div id="template_7" class="templates"></div>
                <div id="template_8" class="templates"></div>
            </section>
            <section id="content1">
                <div class="col-lg-6 col-lg-offset-3 free_page">
                <form id="uploadForm" style="margin-left:100px"
                      enctype="multipart/form-data"
                      action="/api/photo"
                      method="post">
                    <label>
                        <span class="fa-stack fa-lg fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                        </span>
                        <input type="file" name="userPhoto" style="display:none"/>
                    </label>
                    <input type="submit" value="Upload Image" name="submit">
                    <img src="/images/work.png" id="status" width="100" height="100"/>
                </form>
                <form name="myForm" novalidate>
                        <!--<label id="gender"><input type="radio" name="gender" ng-model="site" value="<%= global.lang.male %>"/><i></i> <%= global.lang.male %> -->
                        <!--</label>-->
                        <!--<label id="gender"> <input type="radio" name="gender" value="<%= global.lang.female %>"-->
                        <!--ng-model="ttt"/><i></i> <%= global.lang.female %></label>-->
                        <input type="text" class="form-control" name="firstName" ng-model="firstName"
                               ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                               placeholder="<%= global.lang.name %>" required>
                        <input type="text" class="form-control" name="lastName" ng-minlength="3" ng-maxlength="20"
                               ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-model="lastName" required
                               placeholder="<%= global.lang.lastName %>">
                        <input type="text" class="form-control" name="dob" ng-minlength="3" ng-maxlength="20"
                               ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" ng-model="dob"
                               required placeholder="<%= global.lang.date %> (YYYY-MM-DD)">
                        <input type="text" class="form-control" name="nationality" ng-minlength="3" ng-maxlength="20"
                               ng-pattern="/[a-zա-ֆа-я]{3,20}/i" ng-model="nationality" required
                               placeholder="<%= global.lang.nationality %>">
                        <input type="email" class="form-control" name="email" ng-minlength="8" ng-maxlength="30"
                               ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                               ng-model="email" required placeholder="<%= global.lang.email %>">
                        <input type="text" class="form-control" name="phone" ng-minlength="8" ng-maxlength="30"
                               ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{3})/" ng-model="phone" required
                               placeholder="<%= global.lang.phoneNumber %>">
                        <input type="text" class="form-control" name="address" ng-minlength="3" ng-maxlength="30"
                               ng-pattern="/[A-Za-zա-ֆа-я0-9'\.\-\s\,]/i" ng-model="address" required
                               placeholder="<%= global.lang.address %>">
                    <button type="button" class="btn btn-info btn-lg" id="preview"><%= global.lang.preview %></button>
                </form>
                    </div>
            </section>

            <section id="content2">
                <p>
                    Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip
                    turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank
                    doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin
                    frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly
                    ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger
                    meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball
                    meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
                </p>
                <p>
                    Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon
                    brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye
                    landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round
                    ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef
                    ribs pancetta turkey.
                </p>
            </section>

            <section id="content3">
                <p>
                    Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin
                    shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short
                    ribs.
                </p>
                <p>
                    Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare
                    ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round
                    venison.
                </p>
            </section>

            <section id="content4">
                <p>
                    Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip
                    turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank
                    doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin
                    frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly
                    ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger
                    meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball
                    meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
                </p>
                <p>
                    Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon
                    brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye
                    landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round
                    ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef
                    ribs pancetta turkey.
                </p>
            </section>

        </main>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#uploadForm').submit(function () {
            $("#status").empty().text("File is uploading...");

            $(this).ajaxSubmit({

                error: function (xhr) {
                    status('Error: ' + xhr.status);
                },

                success: function (response) {
                    console.log(response);
                    var res = response.substr(6);
                    $("#status").attr("src", res);
                    $(".profile_image").attr("src", res);

                }
            });

            return false;
        });
    });
</script>