<% layout('layout/page') %>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_login">
    <div class="main_div">
        <div id="pdf2htmldiv"
             class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 div bounceInLeft animated">
            <div class="templates main-template" id="basic-table">
                <div class="block3" style="display: none">
                    <%- partial('./templates/template_3.ejs') %>
                </div>
                <div class="block2" style="display: none">
                    <%- partial('./templates/template_2.ejs') %>
                </div>
                <div class="block1" style="">
                    <%- partial('./templates/template_1.ejs') %>
                </div>
            </div>
        </div>
        <!--<button type="button" onclick="javascript:pdfToHTML()"-->
        <!--class="btn btn-info btn-lg"><%= global.lang.download %></button>-->
        <form method="post" action="/pdfGenrator" style="color:black">
            <input type="hidden" name="content" id="allInfo"/>
            <input type="hidden" name="cv_name" id="nameInfo"/>
            <input type="hidden" name="cv_lastname" id="lastnameInfo"/>
            <button type="submit"
                    class="btn btn-info btn-lg"><%= global.lang.download %></button>
        </form>
        <br/>
        <button type="button" class="btn btn-info btn-lg" id="edit"><%= global.lang.edit %></button>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h3><span class="fa fa-user"></span> <%= global.lang.Welcome %> <span>
                <% if(user.local.username){ %>
                <%= user.local.username %>
                <% }else{ %>
                <%= user.facebook.name %>
                <img width="40" height="40" src="<%= user.facebook.photo %>"
                     alt="image"/>
                <% } %>

            </span></h3>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="/logout" class="pull-right" id="logout_button"><%= global.lang.logout %></a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <main>
            <input id="tab0" type="radio" name="tabs" checked>
            <label for="tab0"><%= global.lang.Template %></label>

            <input id="tab1" type="radio" name="tabs">
            <label for="tab1"><%= global.lang.personalInfo %></label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><%= global.lang.education %></label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3"><%= global.lang.work %></label>

            <input id="tab4" type="radio" name="tabs">
            <label for="tab4"> <%= global.lang.skills %></label>

            <input id="tab5" type="radio" name="tabs">
            <label for="tab5"> <%= global.lang.hobby %></label>

            <section id="content0">
                <div id="template_1" class="templates"></div>
                <div id="template_2" class="templates"></div>
                <div id="template_3" class="templates"></div>
                <div id="template_4" class="templates"></div>
                <div id="template_5" class="templates"></div>
                <div id="template_6" class="templates"></div>
                <div id="template_7" class="templates"></div>
                <div id="template_8" class="templates"></div>
            </section>
            <section id="content1">
                <div class="col-lg-6 col-lg-offset-3 free_page">
                    <form id="uploadForm"
                          enctype="multipart/form-data"
                          action="/api/photo"
                          method="post">
                        <img src="/images/papskok.png" id="status" width="100" height="100"/>
                        <label>
                        <span class="fa-stack fa-lg fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                        </span>
                            <input type="file" name="userPhoto" style="display:none"/>
                        </label>
                        <input type="submit" value=" <%= global.lang.uploadImage %>" name="submit" class="upload_image">
                    </form>
                    <form name="myForm" novalidate>
                        <div class="animated bounceInLeft">
                        <input type="text" class="form-control" name="firstName" ng-model="firstName"
                               ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                               placeholder="<%= global.lang.name %>" required>
                        <input type="text" class="form-control" name="lastName" ng-minlength="3" ng-maxlength="20"
                               ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-model="lastName" required
                               placeholder="<%= global.lang.lastName %>">
                        <input type="text" onfocus="(this.type='date')" class="form-control" name="dob" ng-minlength="3"
                               ng-maxlength="20"
                               ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" ng-model="dob"
                               required placeholder="<%= global.lang.date %> (YYYY-MM-DD)">
                        <input type="text" class="form-control" name="nationality" ng-minlength="3" ng-maxlength="20"
                               ng-pattern="/[a-zա-ֆа-я]{3,20}/i" ng-model="nationality" required
                               placeholder="<%= global.lang.nationality %>">
                        <input type="email" class="form-control" name="email" ng-minlength="8" ng-maxlength="30"
                               ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                               ng-model="email" required placeholder="<%= global.lang.email %>">
                        <input type="text" class="form-control" name="phone" ng-minlength="8" ng-maxlength="30"
                               ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{3})/" ng-model="phone" required
                               placeholder="<%= global.lang.phoneNumber %>">
                        <input type="text" class="form-control" name="address" ng-minlength="3" ng-maxlength="30"
                               ng-pattern="/[A-Za-zա-ֆа-я0-9'\.\-\s\,]/i" ng-model="address" required
                               placeholder="<%= global.lang.address %>">
                        </div>
                        <button type="button" class="btn btn-info btn-lg preview"><%= global.lang.preview %></button>
                        <button type="reset" class="btn btn-info btn-lg" id="reset"><%= global.lang.cancel %></button>
                    </form>
                </div>
            </section>
            <section id="content2">
                <div class="col-lg-6 col-lg-offset-3 free_page">
                    <form name="myForm" novalidate>
                        <div id="education_1" class="animated bounceInLeft">
                            <input type="text" class="form-control" name="eduCourse" ng-model="eduCourse"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                   placeholder="<%= global.lang.CourseName %>" required>
                            <input type="text" class="form-control" name="eduInstitution" ng-minlength="3"
                                   ng-maxlength="20"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,30}/i" ng-model="eduInstitution" required
                                   placeholder="<%= global.lang.institutionName %>">
                            <input type="text" onfocus="(this.type='date')" class="form-control" name="eduStart"
                                   ng-minlength="3" ng-maxlength="20"
                                   ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                                   ng-model="eduStart"
                                   required placeholder="<%= global.lang.startDate %>">
                            <input type="text" onfocus="(this.type='date')" class="form-control" name="eduEnd"
                                   ng-minlength="3" ng-maxlength="20"
                                   ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                                   ng-model="eduEnd"
                                   required placeholder="<%= global.lang.EndDate %>">
                        <textarea class="form-control" id="textArea" name="eduInfo"
                                  placeholder="<%= global.lang.otherInfo %>"></textarea>
                        </div>
                        <div id="education_2" class="animated bounceInRight" style="display: none;">
                            <input type="text" class="form-control" name="eduCourse2" ng-model="eduCourse2"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                   placeholder="<%= global.lang.CourseName %>" required>
                            <input type="text" class="form-control" name="eduInstitution2" ng-minlength="3"
                                   ng-maxlength="20"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,30}/i" ng-model="eduInstitution2" required
                                   placeholder="<%= global.lang.institutionName %>">
                            <input type="text" onfocus="(this.type='date')" class="form-control" name="eduStart2"
                                   ng-minlength="3" ng-maxlength="20"
                                   ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                                   ng-model="eduStart2"
                                   required placeholder="<%= global.lang.startDate %>">
                            <input type="text" onfocus="(this.type='date')" class="form-control" name="eduEnd2"
                                   ng-minlength="3" ng-maxlength="20"
                                   ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                                   ng-model="eduEnd2"
                                   required placeholder="<%= global.lang.EndDate %>">
                        <textarea class="form-control" id="textArea" name="eduInfo2"
                                  placeholder="<%= global.lang.otherInfo %>"></textarea>
                        </div>
                        <p class="addEntryEducation"><i class="fa fa-plus" aria-hidden="true"> </i> Add Entry</p>
                        <button type="button" class="btn btn-info btn-lg preview"><%= global.lang.preview %></button>
                        <button type="reset" class="btn btn-info btn-lg" id="reset"><%= global.lang.cancel %></button>
                    </form>
                </div>
            </section>
            <section id="content3">
                <div class="col-lg-6 col-lg-offset-3 free_page">
                    <form name="myForm" novalidate>
                        <div id="work_1" class="animated bounceInLeft">
                            <input type="text" class="form-control" name="workTitle" ng-model="workTitle"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                   placeholder="<%= global.lang.jobTitle %>" required>
                            <input type="text" class="form-control" name="workCompany" ng-minlength="3"
                                   ng-maxlength="20"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,30}/i" ng-model="workCompany" required
                                   placeholder="<%= global.lang.companyName %>">
                            <input type="text" onfocus="(this.type='date')" class="form-control" name="workStart"
                                   ng-minlength="3" ng-maxlength="20"
                                   ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                                   ng-model="workStart"
                                   required placeholder="<%= global.lang.startDate %>">
                            <input type="text" onfocus="(this.type='date')" class="form-control" name="workEnd"
                                   ng-minlength="3" ng-maxlength="20"
                                   ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                                   ng-model="workEnd"
                                   required placeholder="<%= global.lang.EndDate %>">
                        <textarea class="form-control" id="textArea" name="workInfo"
                                  placeholder="<%= global.lang.otherInfo %>"></textarea>
                        </div>
                        <div id="work_2" class="animated bounceInLeft" style="display: none;">
                            <input type="text" class="form-control" name="workTitle2" ng-model="workTitle2"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                   placeholder="<%= global.lang.jobTitle %>" required>
                            <input type="text" class="form-control" name="workCompany2" ng-minlength="3"
                                   ng-maxlength="20"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,30}/i" ng-model="workCompany2" required
                                   placeholder="<%= global.lang.companyName %>">
                            <input type="text" onfocus="(this.type='date')" class="form-control" name="workStart2"
                                   ng-minlength="3" ng-maxlength="20"
                                   ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                                   ng-model="workStart2"
                                   required placeholder="<%= global.lang.startDate %>">
                            <input type="text" onfocus="(this.type='date')" class="form-control" name="workEnd2"
                                   ng-minlength="3" ng-maxlength="20"
                                   ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                                   ng-model="workEnd2"
                                   required placeholder="<%= global.lang.EndDate %>">
                        <textarea class="form-control" id="textArea" name="workInfo2"
                                  placeholder="<%= global.lang.otherInfo %>"></textarea>
                        </div>
                        <p class="addEntryWork"><i class="fa fa-plus" aria-hidden="true"> </i> Add Entry</p>
                        <button type="button" class="btn btn-info btn-lg preview"><%= global.lang.preview %></button>
                        <button type="reset" class="btn btn-info btn-lg" id="reset"><%= global.lang.cancel %></button>
                    </form>
                </div>
            </section>
            <section id="content4">
                <div class="col-lg-10 col-lg-offset-1 free_page">
                    <form name="myForm" novalidate>
                        <h2 style="color: #02547A;margin-left: 15px"><%= global.lang.Languages %></h2>
                        <div class="row animated bounceInRight">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="language" ng-model="language"
                                       ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                       placeholder="<%= global.lang.eG %> <%= global.lang.english %>" required>
                            </div>
                            <div class="col-xs-8">
                                <label class="lang"><input type="radio" name="langRange"
                                                           value="Basics"/><i></i><%= global.lang.basics %></label>
                                <label class="lang"><input type="radio" name="langRange"
                                                           value="Intermediate"/><i></i> <%= global.lang.Intermediate %>
                                </label>
                                <label class="lang"><input type="radio" name="langRange"
                                                           value="Advanced"/><i></i><%= global.lang.advanced %></label>
                                <label class="lang"><input type="radio" name="langRange"
                                                           value="Expert"/><i></i><%= global.lang.Expert %></label>
                            </div>
                        </div>
                        <div class="row animated bounceInRight lang2" style="display: none;">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="language2" ng-model="language2"
                                       ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                       placeholder="<%= global.lang.eG %> <%= global.lang.russian %>" required>
                            </div>
                            <div class="col-xs-8">
                                <label class="lang"><input type="radio" name="langRange2"
                                                           value="Basics"/><i></i><%= global.lang.basics %></label>
                                <label class="lang"><input type="radio" name="langRange2"
                                                           value="Intermediate"/><i></i><%= global.lang.Intermediate %>
                                </label>
                                <label class="lang"><input type="radio" name="langRange2"
                                                           value="Advanced"/><i></i><%= global.lang.advanced %></label>
                                <label class="lang"><input type="radio" name="langRange2"
                                                           value="Expert"/><i></i><%= global.lang.Expert %></label>
                            </div>
                        </div>
                        <div class="row animated bounceInRight lang3" style="display: none">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="language3" ng-model="language3"
                                       ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                       placeholder="<%= global.lang.eG %> <%= global.lang.armenian %>" required>
                            </div>
                            <div class="col-xs-8">
                                <label class="lang"><input type="radio" name="langRange3"
                                                           value="Basics"/><i></i><%= global.lang.basics %></label>
                                <label class="lang"><input type="radio" name="langRange3"
                                                           value="Intermediate"/><i></i><%= global.lang.Intermediate %>
                                </label>
                                <label class="lang"><input type="radio" name="langRange3"
                                                           value="Advanced"/><i></i><%= global.lang.advanced %></label>
                                <label class="lang"><input type="radio" name="langRange3"
                                                           value="Expert"/><i></i><%= global.lang.Expert %></label>
                            </div>
                        </div>
                        <p class="addEntryLanguage"><i class="fa fa-plus" aria-hidden="true"> </i> Add Entry</p>
                        <h2 style="color: #02547A;margin-left: 15px"><%= global.lang.software %></h2>
                        <div class="row animated bounceInLeft">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="software" ng-model="software"
                                       ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                       placeholder="<%= global.lang.eG %> PhotoShop" required>
                            </div>
                            <div class="col-xs-8">
                                <label class="lang"><input type="radio" name="softRange"
                                                           value="Basics"/><i></i><%= global.lang.basics %></label>
                                <label class="lang"><input type="radio" name="softRange"
                                                           value="Intermediate"/><i></i> <%= global.lang.Intermediate %>
                                </label>
                                <label class="lang"><input type="radio" name="softRange"
                                                           value="Advanced"/><i></i><%= global.lang.advanced %></label>
                                <label class="lang"><input type="radio" name="softRange"
                                                           value="Expert"/><i></i><%= global.lang.Expert %></label>
                            </div>
                        </div>
                        <div class="row animated bounceInLeft soft2" style="display: none;">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="software2" ng-model="software2"
                                       ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                       placeholder="<%= global.lang.eG %> <%= global.lang.russian %>" required>
                            </div>
                            <div class="col-xs-8">
                                <label class="lang"><input type="radio" name="softRange2"
                                                           value="Basics"/><i></i><%= global.lang.basics %></label>
                                <label class="lang"><input type="radio" name="softRange2"
                                                           value="Intermediate"/><i></i><%= global.lang.Intermediate %>
                                </label>
                                <label class="lang"><input type="radio" name="softRange2"
                                                           value="Advanced"/><i></i><%= global.lang.advanced %></label>
                                <label class="lang"><input type="radio" name="softRange2"
                                                           value="Expert"/><i></i><%= global.lang.Expert %></label>
                            </div>
                        </div>
                        <div class="row animated bounceInLeft soft3" style="display: none;">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="software3" ng-model="software3"
                                       ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                       placeholder="<%= global.lang.eG %> <%= global.lang.armenian %>" required>
                            </div>
                            <div class="col-xs-8">
                                <label class="lang"><input type="radio" name="softRange3"
                                                           value="Basics"/><i></i><%= global.lang.basics %></label>
                                <label class="lang"><input type="radio" name="softRange3"
                                                           value="Intermediate"/><i></i><%= global.lang.Intermediate %>
                                </label>
                                <label class="lang"><input type="radio" name="softRange3"
                                                           value="Advanced"/><i></i><%= global.lang.advanced %></label>
                                <label class="lang"><input type="radio" name="softRange3"
                                                           value="Expert"/><i></i><%= global.lang.Expert %></label>
                            </div>
                        </div>
                        <p class="addEntrySoftware"><i class="fa fa-plus" aria-hidden="true"> </i> Add Entry</p>
                        <button type="button" class="btn btn-info btn-lg preview"><%= global.lang.preview %></button>
                        <button type="reset" class="btn btn-info btn-lg" id="reset"><%= global.lang.cancel %></button>
                    </form>
                </div>
            </section>
            <section id="content5">
                <div class="col-lg-10 col-lg-offset-1 free_page">
                    <form name="myForm" novalidate>
                        <div class="col-xs-12 animated bounceInRight">
                            <label class="lang"><input type="checkbox" name="music"
                                                       value="Music"/><i></i> Music </label><br/>
                            <label class="lang"><input type="checkbox" name="sport"
                                                       value="Sport"/><i></i> Sport </label><br/>
                            <label class="lang"><input type="checkbox" name="art"
                                                       value="Art"/><i></i> Art </label><br/>
                            <label class="lang"><input type="checkbox" name="traveling"
                                                       value="Traveling"/><i></i> Traveling </label><br/>
                            <label class="lang"><input type="checkbox" name="networking"
                                                       value="networking"/><i></i> Networking </label><br/>
                            <input type="text" class="form-control" name="hobby1" ng-model="hobby1"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                   placeholder="Your version" required>
                            <input style="display: none" type="text" class="form-control hobby2" name="hobby2" ng-model="hobby2"
                                   ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"
                                   placeholder="Your version" required>
                        </div>
                        <p class="addEntryHobby"><i class="fa fa-plus" aria-hidden="true"> </i> Add Entry</p>
                        <button type="button" class="btn btn-info btn-lg preview"><%= global.lang.preview %></button>
                        <button type="reset" class="btn btn-info btn-lg" id="reset"><%= global.lang.cancel %></button>
                    </form></div>
            </section>

        </main>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#uploadForm').submit(function () {
            $("#status").empty().text("File is uploading...");

            $(this).ajaxSubmit({

                error: function (xhr) {
                    status('Error: ' + xhr.status);
                },

                success: function (response) {
                    console.log(response);
                    var res = response.substr(6);
                    $("#status").attr("src", 'http://localhost:8080' + res);
                    $(".profile_image").attr("src", 'http://localhost:8080' + res);

                }
            });

            return false;
        });
    });
</script>