<% layout('layout/page') %>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_login">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h3><span class="fa fa-user"></span> Welcome <span>
                <% if(user.local.username){ %>
                <%= user.local.username %>
                <% }else{ %>
                <%= user.facebook.name %>
                <img width="40" height="40" src="<%= user.facebook.photo %>"
                     alt="image"/>
                <% } %>

            </span></h3>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="/logout" class="pull-right" id="logout_button">Logout</a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <main>
            <input id="tab0" type="radio" name="tabs" checked>
            <label for="tab0">Template</label>

            <input id="tab1" type="radio" name="tabs">
            <label for="tab1">Personal Information</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">Education</label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">Work</label>

            <input id="tab4" type="radio" name="tabs">
            <label for="tab4">Skills</label>

            <section id="content0">
                <div id="template_1" class="templates"></div>
                <div id="template_2" class="templates"></div>
                <div id="template_3" class="templates"></div>
                <div id="template_4" class="templates"></div>
                <div id="template_5" class="templates"></div>
                <div id="template_6" class="templates"></div>
                <div id="template_7" class="templates"></div>
                <div id="template_8" class="templates"></div>
            </section>
            <section id="content1">
                <form name="myForm" novalidate>
                    <div class="col-lg-5 col-lg-offset-1 free_page">
                        <input type="text" class="form-control" name="firstName" ng-model="firstName" ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-maxlength="20"  placeholder="<%= global.lang.name %>" required>
                        <input type="text" class="form-control" name="lastName" ng-minlength="3" ng-maxlength="20" ng-pattern="/[a-zա-ֆа-я ,.'-]{3,20}/i" ng-model="lastName" required placeholder="<%= global.lang.lastName %>">
                        <input type="text" class="form-control" name="dob" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" ng-model="dob" required placeholder="<%= global.lang.date %> (YYYY-MM-DD)">
                        <input type="text" class="form-control" name="nationality" ng-minlength="3" ng-maxlength="20" ng-pattern="/[a-zա-ֆа-я]{3,20}/i" ng-model="nationality" required placeholder="<%= global.lang.nationality %>">
                    </div>
                    <div class="col-lg-5 free_page">
                        <input type="email" class="form-control" name="email" ng-minlength="8" ng-maxlength="30"
                               ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                               ng-model="email" required placeholder="<%= global.lang.email %>">
                        <input type="text" class="form-control" name="phone" ng-minlength="8" ng-maxlength="30" ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{3})/" ng-model="phone" required  placeholder="<%= global.lang.phoneNumber %>">
                        <input type="text" class="form-control" name="site" ng-minlength="8" ng-maxlength="30" ng-pattern="/^(http\:\/\/|https\:\/\/)?([a-z0-9][a-z0-9\-]*\.)+[a-z0-9][a-z0-9\-]*$/" ng-model="site" required  placeholder="<%= global.lang.web %>">
                        <input type="text" class="form-control" name="address" ng-minlength="3" ng-maxlength="30" ng-pattern="/[A-Za-zա-ֆа-я0-9'\.\-\s\,]/i" ng-model="address" required  placeholder="<%= global.lang.address %>">
                    </div>
                    <button ng-disabled="myForm.$invalid" type="button" class="btn btn-info btn-lg" id="preview"><%= global.lang.preview %></button>
                </form>
            </section>

            <section id="content2">
                <p>
                    Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
                </p>
                <p>
                    Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
                </p>
            </section>

            <section id="content3">
                <p>
                    Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
                </p>
                <p>
                    Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
                </p>
            </section>

            <section id="content4">
                <p>
                    Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
                </p>
                <p>
                    Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
                </p>
            </section>

        </main>

        <!--<section class="ac-container">-->
            <!--<div>-->
                <!--<input id="ac-1" name="accordion-1" type="checkbox" checked />-->
                <!--<label for="ac-1">About us</label>-->
                <!--<article class="ac-small">-->
                    <!--<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>-->
                <!--</article>-->
            <!--</div>-->
            <!--<div>-->
                <!--<input id="ac-2" name="accordion-1" type="checkbox" />-->
                <!--<label for="ac-2">How we work</label>-->
                <!--<article class="ac-medium">-->
                    <!--<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>-->
                <!--</article>-->
            <!--</div>-->
            <!--<div>-->
                <!--<input id="ac-3" name="accordion-1" type="checkbox" />-->
                <!--<label for="ac-3">References</label>-->
                <!--<article class="ac-large">-->
                    <!--<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>-->
                <!--</article>-->
            <!--</div>-->
            <!--<div>-->
                <!--<input id="ac-4" name="accordion-1" type="checkbox" />-->
                <!--<label for="ac-4">Contact us</label>-->
                <!--<article class="ac-large">-->
                    <!--<p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic. </p>-->
                <!--</article>-->
            <!--</div>-->
        <!--</section>-->

    </div>
</div>