<div class="">
    <div class="col-xs-10">
        <span><img src="/images/papskok.png" class="profile_image"/></span>
        <span class="firstName title" style="margin-left: 40px"></span>&nbsp;&nbsp;
        <span class="lastName title"></span>
    </div>
    <div class="col-xs-2"><i class="fa fa-times fa-3x close_button pull-right" aria-hidden="true"></i>
    </div>
</div>
<div class="tooTr">
    <div class="col-xs-4 cv_parts">
        <img src=" /images/personal.png"><br/>
        <span class="spanText"><%= global.lang.personalInfo %></span>
    </div>
    <div class="col-xs-4 cv_parts_2">
        <p><%= global.lang.name %>: <span class="firstName"></span></p>
        <p><%= global.lang.lastName %>: <span class="lastName"></span></p>
        <p><%= global.lang.date %>: <span class="dob"></span></p>
        <p><%= global.lang.nationality %>: <span class="nationality"></span></p>
    </div>
    <div class="col-xs-4 cv_parts_3">
        <p><%= global.lang.email %>: <span class="email"></span></p>
        <p><%= global.lang.phoneNumber %>: <span class="phone"></span></p>
        <p><%= global.lang.address %>: <span class="address"></span></p>
    </div>
</div>
<div class="oneTr">
    <div class="col-xs-4 cv_parts">
        <img src=" /images/uchoba.png"><br/>
        <span class="spanText"><%= global.lang.education %></span>
    </div>
    <div class="col-xs-8">
        <span class="bold_font eduCourse"></span>
        <span class="color_blue pull-right"><span class="eduStart color_blue"></span> - <span
                                    class="eduEnd color_blue"></span></span>
        <p class="color_blue eduInstitution">GPMI Gyumri</p>
        <p class="eduInfo"></p>
        <hr/>
        <span class="bold_font eduCourse2"></span>
        <span class="color_blue pull-right"><span class="eduStart2 color_blue"></span> - <span
                    class="eduEnd2 color_blue"></span></span>
        <p class="color_blue eduInstitution2">GPMI Gyumri</p>
        <p class="eduInfo2"></p>
    </div>
</div>
<div class="tooTr">
    <div class="col-xs-4 cv_parts">
        <img src=" /images/work.png"><br/>
        <span class="spanText"><%= global.lang.work %></span>
    </div>
    <div class="col-xs-8">
        <span class="bold_font workTitle"></span>
        <span class="color_blue pull-right"><span class="workStart color_blue"></span> - <span
                                    class="workEnd color_blue"></span></span>
        <p class="color_blue workCompany"></p>
        <p class="workInfo"></p>
        <hr>
        <span class="bold_font workTitle2"></span>
        <span class="color_blue pull-right"><span class="workStart2 color_blue"></span> - <span
                    class="workEnd2 color_blue"></span></span>
        <p class="color_blue workCompany2"></p>
        <p class="workInfo"></p>
    </div>
</div>
<div class="oneTr">
    <div class="col-xs-4 cv_parts">
        <img src=" /images/skills.png"><br/>
        <span class="spanText"><%= global.lang.skills %></span>
    </div>
    <div class="col-xs-4 cv_parts_2">
        <p class="bold_font center_align">Software</p>
        <p><span class="software"></span><span class="softRange pull-right"></span></p>
        <p><span class="software2"></span><span class="softRange2 pull-right"></span></p>
        <p><span class="software3"></span><span class="softRange3 pull-right"></span></p>
    </div>
    <div class="col-xs-4 cv_parts_3">
        <p class="bold_font center_align"><%= global.lang.Languages %></p>
        <p><span class="language"></span><span class="langRange pull-right"></span></p>
        <p><span class="language2"></span><span class="langRange2 pull-right"></span></p>
        <p><span class="language3"></span><span class="langRange3 pull-right"></span></p>
    </div>
</div>
<div class="tooTr">
    <div class="col-xs-4 cv_parts">
        <img src=" /images/hobbies.png"><br/>
        <span class="spanText">Hobbies</span>
    </div>
    <div class="col-xs-8"></div>
</div>